/* === partidos 3D ADAPTADA AL ESTADIO === */

/* Panel flotante principal */
#partidos-panel {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  display: none;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
  backdrop-filter: none;
  z-index: 999;
  color: white;
  padding: 30px;
  overflow: hidden;
}

/* Contenedor de toda la galería */
.partidos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  align-items: flex-start;
  justify-content: center;
}

/* Cuadro de miniaturas */
#miniaturas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 250px;
  max-height: 550px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  
}





/* Canvas de la galería */
#par-container {
  width: 800px;
  height: 560px;
  background: transparent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#par-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* Botón de cerrar */
#cerrarPartidos {
  position: absolute;
  top: 100px;
  right: 60px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 1000;
}

#cerrarPartidos:hover {
  background: rgb(220, 20, 60);
  transform: scale(1.05);
}


/* Responsive */
@media (max-width: 992px) {
  .partidos-container {
    flex-direction: column;
    align-items: center;
  }

  #par-container {
    width: 100%;
    height: 400px;
  }

  

  #cerrarPartidos {
    top: 90px;
    right: 30px;
  }
}
